:root {
    background-color: #3B252C;
}

.nav-bar {
    background-color: #CDCDCD;
}

.nav-bar a {
    color: #8F6593;
    font-size: 1.25rem;
}

.nav-bar a:hover {
    color: #AEA4BF;
   
}

.nav-bar a.active {
    color: #3B1A4E;
    border-bottom: 2px solid #8F6593;
}

.carli-h-header {
    color: #3B1A4E;
    font-size: 4rem;
}

.carli-h-header:hover {
    color: #AEA4BF; 
}

.portfolio-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    background-color: #CDCDCD;
    padding: 5rem;
}

.carli {
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.footer {
    height: 10vh;
    font-family: 'Karla', sans-serif;
}

.footer img:hover {
    opacity: 0.5;
}

.main-content {
    display: flex;
    flex-grow: 1;
    align-items: center;
    color: #3B1A4E
}

.contact-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding-top: 54px;
}

.resume-content {
    padding-top: 60px;
}

.page-title {
    text-align: center;
}

.carli-rez {
    justify-content: center;
}

.ch-res {
    size: 80%;
}

.project {
    padding: 2rem;
}

.project-bg {
    position: relative;
    width: 100%;
    height: 100%;
  }


